.container{
    max-width: 230px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin :auto;
    margin-top: 150px;
    cursor: pointer;
}
.item{
    border: 1px solid black; 
    
    padding: 20px; 
    flex-basis: 10%;
    
}

#box1{
    border-right: 0px;
    border-bottom: 0px;
}

#box2{
   border-bottom: 0px;
}

#box3{
    border-left: 0px;
    border-bottom: 0px;
}

#box4{
    border-right: 0px;
    border-bottom: 0px;
}
#box5{
    border-bottom: 0px;
 }

#box6{
    border-left: 0px;
    border-bottom: 0px;
}

#box7{
    border-right: 0px;
}

#box9{
   
    border-left: 0px;
 }
 